.main-chat
  .main-chat__main-header
    .main-chat__main-header__box
      .main-chat__main-header__box__left-box
        %h2.main-chat__main-header__box__left-box__group
          = @group.name
        %ul.main-chat__main-header__box__left-box__list
          member：
          %li.main-chat__main-header__box__left-box__list__name
            - @group.users.each do |user|
              = user.name
      %p.main-chat__main-header__box__right
        = link_to edit_group_path(@group),class:"edit" do
          Edit

  .main-chat__messages
    = render @messages
  
  .main-chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'message_content_image' do
          = icon('fas', 'image', class: 'image')
          = f.file_field :image, class: 'message_image'
      = f.submit 'Send', class: 'submit-btn'