.chat-side
  .chat-side__side-header
    .chat-side__side-header__box
      %p.chat-side__side-header__box__user-name
        = current_user.name
      %ul.chat-side__side-header__box__menu
        %li.chat-side__side-header__box__edit
          = link_to new_group_path,class:"edit" do
            = icon('fas','edit')
        %li.chat-side__side-header__box__new-group
          = link_to edit_user_path(current_user),class:"new-group" do
            =icon('fas','cog',)
  .chat-side__group
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message